body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h1.baseline, h2.baseline {
display: inline;
}

h1.baseline {
font-size: 20px;
}

h2.baseline {
font-size: 15px;
}

.div-inline {
display: inline-block;
}

/*
 * http://www.kryogenix.org/code/browser/sorttable/#symbolsbeforesorting
 */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after {
content: " \25B4\25BE"
}
