{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitPop2: Find the most popular fork on GitHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap-2.3.2-combined.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-4.0.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">GitPop2</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
        {% endfor %} {# message in messages #}
      </div> <!-- messages -->
      {% endif %}
      <h2 class="baseline">Find the most popular fork on GitHub</h2>
      <hr>
      {% block content %}{% endblock %}

    </div> <!-- /container -->

    {% block js %}
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-2.3.2.min.js' %}"></script>
    {% endblock js %}
    {% block extrajs %}{% endblock %}

  </body>
</html>

