{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitPop2: Find the most popular fork on GitHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap-3.3.1.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-4.2.0.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv-3.7.0.js' %}"></script>
      <script src="{% static 'js/respond-1.4.2.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-code-fork"></i> GitPop2</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"> <i class="fa fa-home"></i> Home</a></li>
            <li><a href="https://github.com/AndreMiras/gitpop2"><i class="fa fa-github-alt"></i> About</a></li>
            <li><a href="{% url 'contact' %}"><i class="fa fa-envelope"></i> Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
        </div>
        {% endfor %} {# message in messages #}
      </div> <!-- messages -->
      {% endif %}
      <h2 class="baseline">Find the most popular fork on GitHub</h2>
      <hr>
      {% block content %}{% endblock %}

    </div> <!-- /container -->

    {% block js %}
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.1.min.js' %}"></script>
    {% endblock js %}
    {% block extrajs %}{% endblock %}

  </body>
</html>

