{% extends "base.html" %}

{% block content %}
<h1>GitPop2</h1>

{% if forks %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
    <th><i class="fa fa-github-alt"></i> Repo</th>
    <th><i class="fa fa-star"></i> Stars</th>
    <th><i class="fa fa-eye"></i> Watchers</th>
    <th><i class="fa fa-code-fork"></i> Forks</th>
    </tr>
  </thead>
  <tbody>
    {% for fork in forks %}
    <tr>
    <td><a href="{% url 'repo_pop' fork.owner.login fork.name %}">{{ fork.full_name }}</a></td>
    <td>{{ fork.stargazers_count }}</td>
    <td>{{ fork.watchers_count }}</td>
    <td>{{ fork.forks_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
Sorry, no forks in this list.
{% endif %}

{% endblock content %}

