{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load gitpop2_extras %}

{% block extrajs %}
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock extrajs %}

{% block content %}

{% include "_pop_form.html" %}

<hr>
<table class="table table-striped table-hover sortable">
  <thead>
    <tr>
    <th class="span2"><i class="fa fa-github-alt"></i> Repo</th>
    <th class="span2"><i class="fa fa-star"></i> Stars</th>
    <th class="span2"><i class="fa fa-code-fork"></i> Forks</th>
    <th class="span2"><i class="fa fa-calendar"></i> Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for repo in repos %}
    <tr>
    <td>
      <div class="dropdown div-inline">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a tabindex="-1" href="{% url 'repo_pop' repo.owner.login repo.name %}">View on GitPop</a></li>
          <li><a tabindex="-1" href="https://github.com/{{ repo.full_name }}">View on GitHub</a></li>
        </ul>
      </div>
      <a href="https://github.com/{{ repo.full_name }}">{{ repo.full_name }}</a>
    </td>
    <td>{{ repo.stargazers_count }}</td>
    <td>{{ repo.forks_count }}</td>
    {% with pushed_at=repo.pushed_at|parse_date:"%Y-%m-%dT%H:%M:%SZ" %}
    <td sorttable_customkey="{{ pushed_at|date:"%Y%m%d_%H%M%S" }}">
    {{ pushed_at|naturaltime }}</td>
    {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}

